<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%=homeStartingContent%></p>
<% postsArray.forEach((post) => { %>
    <% let truncatedPost = post.post.substr(0,150) + '...';%>
    <h2><%= post.title %></h2>
    <p><%= truncatedPost %><a href="http://localhost:3000/posts/<%=post._id%>">(Read more)</a> </p>
<% }); %>
<%- include('partials/footer') -%>